.footer {
    width: 100%;
    position: relative;
    top: 0;
    z-index: 2020;
    transform: translateY(0);
    transition: transform 0.3s ease;
}
.footerIcon_container{
    text-align: center;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.footer_container1 {
    background: var(--theme-nav-background-color);
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
        0 3px 1px 0 rgba(20, 23, 28, 0.1);
    display: block;
    position: relative;
}

.footer_container2 {
    --paper-input-container-input-align: baseline;
    display: block;
    width: 100%;
    background: var(--yt-spec-brand-background-primary);
}

.icon_name {
    font-size: 10px;
    text-align: center;
    padding: 0px 8px;
    margin-right: 8px;
}

.footer_container3 {
    height: var(--theme-footer-height);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@media(max-width: 656px) {
    .footer_container3 {
        --theme-footer-height: 48px;
        --theme-footer-padding: 0px 8px;
    }
}

.footer_item-center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#menu.footer_icon {
    margin: 0 16px 0 0;
}

.footer_icon {
    --yt-icon-button-icon-width: 24px;
    --yt-icon-button-icon-height: 24px;
    color: var(--bd-nav-icon-active-other);

    /* cursor: pointer;
    margin: 0 16px 0 0; */

    width: 40px;
    height: 24px;
    padding: 0px 8px;
    margin-right: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}

.footer_btn {
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
.footer_nav{
    width: 100%;
    bottom:0;
    position: fixed;
}
.page-footer {
    background:#161e2c;
}
#bd_logo_footer{
    width:max-content;
}
#bd_logo_footer p{
    text-align:right;
    position: relative;
    top: -15px;
}
.col-sm-12 {
    @media screen and (min-width: --theme-sm-width) {
        display: none;
    }

}
