.profile_main{
    min-width:100%;
}
.profile-background-wallpaper {
    display: absolute;
    z-index: 600;
    height: 500px;
    display: flex;
    justify-content: center;
    min-height:400px;
}

.profile-background-wallpaper img {
    width: 90%;
    border-radius: 1rem;
}

.profile-background-wallpaper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(12, 46, 236, 0.52), transparent 20%), url('https://picsum.photos/800/300');
    background-size: cover;
    color: white;
    padding: 20px;
    background-repeat: no-repeat, repeat
}

.profile-photo {
    width: 100%;
    height: 100%
}

.jk-row {
    display: flex;
    display: flex-wrap
}

.profile-container {
    margin-top: -150px;
    justify-content: center;
    padding: 16px
}

.profile-photo img {
    display: block;
    border-radius: 50%;
    min-width: 300px;
    min-height: 300px;
    background: red;
    text-align: center
}

.profile-header {
    display: flex;
    align-items: baseline;
    flex: 1;
    -webkit-flex: 1;
    padding: 0.2rem 0px
}

.profile-user_name {
    font-size: 21px;
    padding-left: 0.2rem
}

.profile-tag_line {
    font-size: 1.3rem
}

.profile-name {
    font-weight: 600;
    color: #050505;
    font-size: 32px;
    display: flex;
    align-items: baseline
}

.second-section {
    width: 100%
}

.first-section-b div {
    text-align: center;
    padding-top: 2px
}

.profile-section {
    text-align: center
}

.profile-tag_line {
    display: flex
}

@media(max-width:992px) {
    .profile-header {
        display: block
    }

    .profile-header-content {
        display: block
    }

    .profile-photo {
        display: flex;
        justify-content: center
    }
}

.bd_blog_top_wrapper_parent {
    width: 100%
}

#second_section .profile-header:first-child {
    padding: 1rem 0.2rem 0rem 0.2rem
}

#second_section .profile-header:nth-child(2) {
    padding: 0rem 0.2rem 2rem 0.2rem
}