#button_share {
    margin-left: 27px
}

.share_buttons_wrap {
    width: 100%;
    padding: 30px 10px;
    display: inline-block
}

.socialShareButtonItem {
    display: inline-block;
    float: left;
    padding: 10px
}

.socialItem {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 10px
}

.socialItem_icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer
}

.socialsharename {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    font-weight: 400;
    color: #292929;
    font-size: 13px
}

.xl_w {
    display: inline-block
}

.mobile_w {
    display: none
}

@media only screen and (max-width: 500px) {
    .xl_w {
        display: none
    }

    .mobile_w {
        display: inline-block
    }
}
@media (min-width: 576px) .share_modal {
    min-height: calc(100% - 3.5rem);
}
@media (min-width: 576px) .share_modal {
    max-width: 500px;
}
.socialItem_icon svg{
    width: 40px;
    height: 40px;
}
.share_modal{
    max-width: 500px;
    margin: 1.75rem auto;
}
/*  */

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  /*  */
  [data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: -4%;    
}
[data-tooltip]:hover:after {
    content: "";
    position: absolute;
    /* top: 100%; */
    /* left: 50%; */
    margin-top: -15px;
    margin-left: -2%;
    border-width: 5px;
    border-style: solid;
    border-color: yellow transparent transparent transparent; 
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

/* FOR TEST PURPOSES ONLY */
/* div {
    border: 1px solid silver;
    background: #ddd;
    margin: 20px;
    padding: 10px;
} */