.input-group-append{
    align-items: center;
}
.blog_shortBy{
    display: flex;
}
.blogShortBy_dropdown .dropdown {
    position: absolute;
    top: calc(var(--theme-header-height) - 2px);
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    overflow-x: auto;
    transition: height var(--speed) ease;
    max-height: calc(100vh-60px);
    max-width: calc(100vw - 24px);
}
.shortBy::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.header_row {
    align-items: center;
}